.project-header {
    margin-bottom: 50px;
}

.project-title {
    font-size: 4rem;
}

.project-subtitle {
    font-size: large;
    font-family: sans-serif;
    line-height: 25px;
    text-wrap: balance;
}

.project-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 423px));
    gap: 20px;
}

.project-card {
    background-color: var(--main-color);
    border-radius: 0 0 10px 10px;
    transition: all 0.08s linear;
}

.project-card:hover {
    transform: translateY(-20px);
}
.project-card__description, .project-card__title {
    padding: 10px;
}

.project-button__modal {
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    border: none;
    outline: none;
    background: transparent;
}

.project-dialog {
    margin: auto;
    padding: 40px;
    background-color: var(--background);
    border: none;
    border-radius: 10px;
    box-shadow: black 5px 2px 20px 5px;
}

.project-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.project-dialog__button {
    background-color: var(--main-color);
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none
}

.project-techs,
.project-tech__links {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    text-align: center;
}

.project-techs__icon {
    width: 50px;
    height: 50px;
}

.project-tech__links {
    gap: 50px;
}