.footer {
    height: 3px;
    background-color: var(--main-color);
    border-radius: 2px;
    margin-top: 100px;
}

.footer__content {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 8px;
}

.footer__rights-logo {
    font-size: large;
}

@media(width <= 332px){
    .footer__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}