.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 423px));
    justify-items: center;
    justify-content: space-evenly;
    row-gap: 50px;
    column-gap: 10px;
}

.project-modal__open-button {
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    border: none;
    outline: none;
    background: transparent;
}

@media (width <= 820px) {
    .project-grid {
        row-gap: 20px;
    }
}