.project-header {
    margin-bottom: 50px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 423px));
    justify-items: center;
    justify-content: space-evenly;
    row-gap: 50px;
}

.project-modal__open-button {
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    border: none;
    outline: none;
    background: transparent;
}