.profile-section {
  max-width: 1250px;
  min-height: 90vh;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}

.photo {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 100%;
  border: 4px solid var(--main-color);
}

.profile-section > div {
  position: absolute;
  left: 0px;
  z-index: -4;
  background-color: var(--main-color);
  width: 30%;
  height: 77%;
  border-radius: 2%;
  opacity: 70%;
}

.inline > :nth-child(2) {
  margin-inline: 1rem;
}

.inline {
  text-align: center;
  margin-top: 10px;
}

.profile-section article {
  max-width: 750px;
  font-size: 2rem;
}

.profile-line-height {
  line-height: 70px;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 8rem;
  display: inline-block;
}

.profile-name::first-letter {
  color: var(--main-color);
  font-weight: 900;
}

.profile-stack {
  letter-spacing: 5px;
  background-color: var(--main-color);
  border-radius: 5px;
  text-align: center;
}

.profile-description {
  font-size: large;
  font-family: sans-serif;
  text-align: left;
  margin-top: 30px;
  line-height: 25px;
}

.profile-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-resume {
  display: flex;
  height: auto;
  align-items: center;
  gap: 10px;
}

.resume-button,
.resume-english,
.resume-spanish {
  width: 100px;
  height: 30px;
  background: var(--main-color);
  font-size: medium;
  padding: 5px;
  font-family: "Oswald";
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s ease;
}

.resume-button {
  margin-left: -20px;
}

.resume-english,
.resume-spanish {
  width: 0;
  padding: 0;
  opacity: 0;
}

.profile-resume:hover .resume-button {
  width: 0px;
  padding: 0;
  opacity: 0;
}

.profile-resume:hover .resume-english,
.profile-resume:hover .resume-spanish {
  padding: 5px;
  opacity: 1;
  width: 100px;
}

.resume-english:hover,
.resume-spanish:hover {
  background: violet;
}

.profile-social {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile-social_icon {
  fill: var(--main-color);
  background-color: white;
  border-radius: 3px;
  transition: all 0.15s linear;
}

.profile-social_icon:hover {
  transform: scale(1.3);
}

.text-flicker-in-glow {
  animation: text-flicker-in-glow 1s linear both;
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
