.projects-section {
  min-height: 90vh;
}

.projects-title {
  margin: auto;
}

.project-image {
  max-width: 30rem;
}

.projects-project_images {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
