:root {
  --background: rgb(5, 12, 26);
  --main-color: rgb(54, 105, 178);
  --main-color-opacity: rgba(54, 105, 178, 0.65);
  --secondary-color: white;
  --md: 820px;
}

html {
  scrollbar-gutter: stable;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-color);
}

body {
  max-width: 1350px;
  background-color: var(--background);
  padding: 20px;
  margin: auto;

}

a {
  text-decoration: none;
}

.section-header {
  margin-bottom: 50px;
}

.section-title {
  font-size: 4rem;
}

.section-subtitle {
  font-size: large;
  font-family: var(--open-sans), serif;
  line-height: 25px;
  text-wrap: balance;
}

.section-bottom-padding {
  padding-bottom: 50px;
}

@media (width <= 820px){
  .section-subtitle {
    font-size: medium;
  }

  .section-title {
    font-size: 3rem;
  }
}
