.profile {
    min-height: 100dvh;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    position: relative;
}

.profile__square {
    position: absolute;
    left: 0;
    z-index: -4;
    background-color: var(--main-color);
    width: 30%;
    height: 77%;
    border-radius: 2%;
}

.profile__photo {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid var(--main-color);
}

.profile__photo-background {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-color: var(--main-color);
}

.profile__info {
    max-width: 800px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
}

.profile__welcome {
    line-height: 70px;
    margin-bottom: 10px;
}

.profile__introduce {
    text-align: center;
    margin-top: 10px;
}

.profile__pronoun {
    margin-right: 20px;
}

.profile__name {
    font-size: 8rem;
    display: inline-block;
}

.profile__name::first-letter {
    color: var(--main-color);
    font-weight: 900;
}

.profile__role {
    letter-spacing: 5px;
    background-color: var(--main-color);
    border-radius: 5px;
    text-align: center;
}

.profile__description {
    font-size: large;
    font-family: var(--open-sans), serif;
    text-align: left;
    margin-top: 20px;
    line-height: 25px;
}

.profile__buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__resume {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    width: 150px;
    height: 40px;
    background: var(--main-color);
    font-size: large;
    padding: 5px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s ease;
}

.button:hover {
    transform: scale(1.1);
}

.show_square {
    animation: square .8s ease-in-out;
}

@keyframes square {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.show_image-background {
    animation: image-background 1s ease-in-out;
}

@keyframes image-background {
    from {
        opacity: .7;
        transform: translateX(-250px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.show_image {
    animation: image .8s ease-in-out;
}

@keyframes image {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.show_role {
    animation: role .8s ease-in-out;
}

@keyframes role {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.show_welcome {
    animation: welcome .8s ease-in-out;
}

@keyframes welcome {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.show {
    animation: description .8s ease-in-out;
}

@keyframes description {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (width <= 820px){
    .profile {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 50px;
        padding-top: 20px;
        gap: 8px;
    }

    .profile__square {
        width: 100%;
        height: 25%;
        top: 0;
    }

    .profile__photo{
        width: 300px;
        height: 300px;
    }

    .profile__photo-background {
        width: 300px;
        height: 300px;
    }

    @keyframes square {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }

        to{
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes image-background {
        from {
            opacity: .7;
            transform: translateY(-250px);
        }

        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media (width <= 500px) {
    .profile__square {
        height: 20%;
    }

    .profile__photo {
        width: 250px;
        height: 250px;
    }

    .profile__info {
        font-size: 1.8rem;
    }

    .profile__name {
        font-size: 6rem;
    }

    .profile__description {
        font-size: medium;
    }
}

@media (width <= 450px){
    .profile{
        padding-top: 0;
    }

    .profile__buttons {
        flex-direction: column;
        gap: 15px;
    }

    .button{
        width: 100%;
    }
}