.profile__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.profile__social-icons {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px;
    transition: all 0.15s linear;
}

.profile__social-icons:hover {
    transform: scale(1.2);
}

@media (width <= 400px){
    .profile__icons {
        width: 100%;
    }
}