:root{
  --main-color: rgb(0, 196, 199);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Titillium Web', sans-serif; */
  background-color: rgb(12, 22, 22);
  padding: 20px;
}
