:root {
  --main-color: rgb(0, 162, 199);
  --background: rgb(12, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: rgb(12, 22, 22);
  padding: 20px;
}

a {
  text-decoration: none;
}
