.project-modal__open-button {
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    border: none;
    outline: none;
    background: transparent;
}

.modal {
    margin: auto;
    padding: 20px;
    background-color: var(--background);
    border-inline: 1px solid rgba(68, 124, 203, 0.25);
    border-block: 3px solid rgba(68, 124, 203);
    border-radius: 10px;
    box-shadow: black 5px 2px 20px 5px;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content__head {
    max-width: 450px;
}

.modal-content__image {
    width: 100%;
    height: auto;
}

.modal-content__title {
    text-align: center;
    margin-bottom: 10px;
}

.modal-content__description {
    font-family: var(--open-sans), serif;
    text-align: left;
    margin-top: 10px;
}

.modal-content__close-button {
    background-color: var(--main-color);
    font-family: Oswald, serif;
    font-size: medium;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 100%;
    transition: transform 0.15s ease-in-out;
}

.modal-content__close-button:hover {
    transform: scale(1.05);
}

.modal-content__project-techs,
.modal-content__tech__links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    margin-top: 10px;
    font-family: var(--open-sans), serif;
    font-size: small;
}

.modal-content__tech__icons {
    width: 40px;
    height: 40px;
}

.modal-content__tech__links {
    gap: 50px;
    margin-bottom: 20px;

}

.project-links {
    transition: transform 0.15s ease-in-out;
}

.project-links:hover {
    transform: scale(1.05);
}

@media (max-width: 530px) {
   .modal-content__tech__icons {
        width: 30px;
        height: 30px;
    }
}